ipdb
flake8
ipykernel
pytest<=7.0.0
pytest-env
tqdm
numpy
wandb
tensorboard
transformers>=4.14.1
diffusers
accelerate
xformers
seaborn
triton
robustness
pandas
networkx
numpy 
scipy
GPUtil
dill
tensorboardX
tables
cox
scikit-learn
pillow

git+https://github.com/openai/CLIP.git
git+https://github.com/modestyachts/ImageNetV2_pytorch

